<div class="apartment-overview">
  <div>
    <div>
      <div class="optimize-spacing">
        <div class="title-box">
          <div class="responsive-font-size">
            <div class="set-width-height-name-box">
              <div>
                <div>
                <%= image_tag("airbnbplus.png") %>
                </div>
                <div class="margin-top:8px">
                  <small class="apartment-name">@flat.name</small>
                </div>
                <div style="margin-top:32px">
                  <span class="apartment-description">@flat.description</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="image-box">
          <div>
            <div class="set-image-box-height">
              <div>
                <div class="set-image-position">
                  <div class="h92vd7" style="background-image:url(https://a0.muscache.com/4ea/air/v2/pictures/5fc9f2c6-271a-45b5-bdc9-807edeefbd87.jpg?t=r:w2500-h1500-sfit,e:fjpg-c90)" aria-hidden="true">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
