.message {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  background-color: white;
}
.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
  text-align: center;
  width: 200px;
  h3 {
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
  }
}

#number-notification {
  position: absolute;
  bottom: 50px;
  left: 15px;
  color: white;
}

.container-notification {
  position: relative;
}

.notification {
  position: absolute;
  left: 5px;
  bottom: 45px;
  width: 30px;
  border-radius: 50%;
}

.message-status {
  flex-grow: 1;
}

.status {
  text-align: center;
  font-weight: bold;
  color: #009677;
  font-size: 14px;
  margin: 20px;
  flex-grow: 1;

}

.message-name {
  padding-left: 10px;
  min-width: 100px;
}
.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}

.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.message-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
  p {
    font-size: 14px;
  }
  h3 {
    font-size: 20px;
  }
}
.message-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
}
.message-status {
  font-size: 14px;
  font-weight: bold;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: rgba(0, 0, 0, 0.2);
}

.img-size {
  width: 120px;
}

