document.querySelector('.top-right-badge').remove();
document.querySelector("[data-picture-id='<%= @picture.id %>']").insertAdjacentHTML("beforeend", ` <span class="badge top-right-badge">Primary</span>`);
