.justitita-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

.homepage-search-box{
  padding: 20px;
  h4 {
    font-weight: bold;
    line-height: 1.5em;
    margin-top: 0px;
  }

  label {
    font-size:12px
  }

  input {
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 0.5px;
    font-size:13px;
  }

  .price-search-home {
    display:flex;
    justify-content: space-between;
    padding: 2px;

    input {
      width: 99%;
    }
  }

  #address {
    width:100%;
  }

  #guests {
    width:100%;
    font-size:13px ;
  }

  #max-price-label {
    text-align: left
  }

  #home-search-button {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    margin-bottom: -20px;
    input{
    margin-right: 0px;
    }
  }
}


#homepage-search-box-location {
  display: flex;
  align-items: center;
}

.justitia-user-form {
  padding: 50px;
}

.justitia-extra-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 50px;


  h4 {
    margin: 0 15px 0 0;
  }
}

.supporting-pictures {
  margin-bottom: 10px;
  padding-top: 10px;
}

#picture-field{
  margin-bottom: 10px;
}

#supporting-picture-label{
  margin-bottom: 5px;
}

.edit-image-container{
  position: relative;
  width: 100%;
  img{
    width: 100%;
    height: 100%;
    margin-top: 10px;
  }
  .delete-image {
    position: absolute;
    right:    0px;
    bottom:   0px;
  }
  .main-image {
    position: absolute;
    bottom:   0px;
  }
  .top-right-badge {
    position: absolute;
    top: 15px;
    right: 5px;
    background-color: red;
  }

}

.edit-picture-footer {
  display:flex;
  justify-content: space-around;
  background-color: rgb(233,233,233);
}
.black-text{
  color: black;
}

.flat-form-buttons {
  display: flex;
  justify-content: space-between;
}

