div {
    display: block;
}

.show-page{
    position: relative !important;
}


.container {
    position: relative !important;
}

.flat-description, p {
  margin: 16px 0px 0px 0px;
  font-size: 16px;
}

.flat-address {

}
.card {
  height: 300px;
  max-height: 536px;
  padding: 40px !important;
}

.sticky-bar {
    background-color: #ffffff !important;
    padding-top: 15px !important;
    padding-bottom: 39px !important;
    margin-bottom: -24px !important;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.14) !important;
}

.inner-sticky-bar {
    margin-left: auto !important;
    margin-right: auto !important;
    width: auto !important;
    padding-right: 24px !important;
    padding-left: 24px !important;
    max-width: 100% !important;
}

.inner-elements {
    width: 100% !important;
    display: table !important;
}


.element {
    display: table-cell !important;
    vertical-align: middle !important;
    width: 100% !important;
}

.flat-name {
    text-transform: uppercase !important;
}

.style-flat-name {
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 12px !important;
    line-height: 16px !important;
    letter-spacing: 1px !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    text-transform: undefined !important;
    padding-top: undefined !important;
    padding-bottom: undefined !important;
    font-weight: 800 !important;
    color: #767676 !important;
}

.seperator-elements {
    display: table-cell !important;
    vertical-align: middle !important;
}

.set-seperator-color {
    height: 40px !important;
    width: 1px !important;
    background-color: rgba(72,72,72,0.12) !important;
}

.price-per-night-wrap {
    white-space: nowrap !important;
    word-wrap: break-word !important;
    margin-top: -1px !important;
    padding-left: 32px !important;
    padding-right: 32px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.price-per-night {
  line-height: 10px !important;
}

.price-per-night-inline {
    display: inline-block !important;
}

.price {
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: normal !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    text-transform: undefined !important;
    color: #484848 !important;
    padding-top: undefined !important;
    padding-bottom: undefined !important;
    font-weight: 800 !important;
    display: inline !important;
}

.price-in-euro {
    font-size: 22px !important;
}

.night {
    overflow-wrap: break-word !important;
    font-size: 12px !important;
    line-height: 16px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-weight: 800 !important;
    color: rgb(118, 118, 118) !important;
    display: inline !important;
    margin: 0px !important;
}

.style-per-night {
    text-transform: uppercase !important;
}

.btn-pink {
  border-radius: 5px !important;
  background-color: rgb(246, 88, 91) !important;
  color: white !important;
  margin-right: 5px;
}

.btn-pink:hover {
    color: white !important;
    background-color: rgba(246, 88, 91, 0.8) !important;
}

.btn-green {
  border-radius: 5px !important;
}


.show-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 5px 0;
}
