div {
    display: block;
}

.apartment-overview {
    position: relative !important;
}

.optimize-spacing {
    margin-left: -8px !important;
    margin-right: -8px !important;
}

@media (min-width: 1128px)
.title-box {
    width: 33.33333333333333% !important;
    float: left !important;
}

@media (min-width: 744px)
.title-box {
    width: 50% !important;
    float: left !important;
}

.title-box {
    padding-left: 8px !important;
    padding-right: 8px !important;
    min-height: 1px !important;
    position: relative !important;
}

@media (min-width: 1128px)
.responsive-font-size {
    height: 536px !important;
}

@media (min-width: 744px)
.responsive-font-size {
    height: 428.8px !important;
}
.responsive-font-size {
    background-color: #F2F2F2 !important;
    width: 100% !important;
    height: 425px !important;
    position: relative !important;
}

.set-width-height-name-box {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    padding: 40px !important;
}

.apartment-name {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    padding: 40px !important;
}

div.img {
    overflow: hidden;
}

@media (min-width: 1128px)
.apartment-description {
    font-size: 46px !important;
    line-height: 52px !important;
    max-height: 312px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 6 !important;
    -webkit-box-orient: vertical !important;
}
.apartment-description {
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-weight: normal !important;
    font-size: 36px !important;
    line-height: 42px !important;
    max-height: 210px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 5 !important;
    -webkit-box-orient: vertical !important;
}

@media (min-width: 1128px)
.image-box {
    width: 66.66666666666666% !important;
    float: left !important;
}
@media (min-width: 744px)
.image-box {
    width: 50% !important;
    float: left !important;
}
.image-box {
    padding-left: 8px !important;
    padding-right: 8px !important;
    min-height: 1px !important;
    position: relative !important;
    width: 100% !important;
    float: left !important;
}

@media (min-width: 1128px)
.set-image-box-height {
    height: 536px !important;
}
@media (min-width: 744px)
.set-image-box-height {
    height: 428.8px !important;
}
.set-image-box-height {
    position: relative !important;
    height: 425px !important;
}

.set-image-position {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
}

.h92vd7 {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    background-size: cover !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}
